[submodule "submodules/actions-by-atika"]
	path = submodules/actions-by-atika
	url = https://github.com/jasonrudolph/launchbar-actions.git
[submodule "submodules/actions-by-heikowitte"]
	path = submodules/actions-by-heikowitte
	url = https://github.com/heikowitte/LaunchBarActions
[submodule "actions-by-prenagha"]
	path = submodules/actions-by-prenagha
	url = https://github.com/prenagha/launchbar.git
[submodule "submodules/actions-by-hlissner"]
	path = submodules/actions-by-hlissner
	url = https://github.com/hlissner/lb6-actions.git
[submodule "submodules/actions-by-mlinzner"]
	path = submodules/actions-by-mlinzner
	url = https://github.com/mlinzner/LaunchBarActions.git
[submodule "submodules/github.lbaction"]
	path = submodules/github.lbaction
	url = https://github.com/bswinnerton/github.lbaction.git
[submodule "jasonrudolph-launchbar-sonos-actions"]
	path = submodules/jasonrudolph-launchbar-sonos-actions
	url = https://github.com/jasonrudolph/launchbar-sonos-actions
