[submodule "submodules/actions-by-atika"]
	path = submodules/actions-by-atika
	url = https://github.com/atika/LaunchBar-Actions.git
[submodule "submodules/actions-by-heikowitte"]
	path = submodules/actions-by-heikowitte
	url = https://github.com/heikowitte/LaunchBarActions
[submodule "actions-by-prenagha"]
	path = submodules/actions-by-prenagha
	url = https://github.com/prenagha/launchbar.git
[submodule "submodules/actions-by-hlissner"]
	path = submodules/actions-by-hlissner
	url = https://github.com/hlissner/lb6-actions.git
